@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    color: #000;
    font-family: 'Merriweather';
    letter-spacing: 1px;
    /* font-weight: 300; */
}
html{
    font-size: 15px;
}
body{
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url('background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    /* background-color: #ddd; */
    scroll-behavior: smooth;
}
nav{
    height: 5rem;
    width: 100vw;
    background-color: #ffffffbc;
    /* border-radius: 1rem; */
    box-shadow: 0 3px 20px rgba(0, 0, 0, 0.2);
    display: flex;
    position: fixed;
    /* margin: 2%; */
    z-index: 10;
    -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
}

/*Styling logo*/
.logo{
    padding:1vh;
    text-align: center;
}
.logo img {
    height: 4.5rem;
    width: 100%;
}

/*Styling Links*/
.nav-links{
    display: flex;
    list-style: none; 
    width: 100%;
    padding: 0 0.7vw;
    justify-content: space-evenly;
    align-items: center;
    text-transform: uppercase;
}
.nav-links li a{
    text-decoration: none;
    margin: 0 0.7vw;
}
.nav-links li a:hover {
    /* color: #0095ff; */
    text-decoration: underline;
    font-weight: bolder;
}
.nav-links li {
    position: relative;
}
/* .nav-links li a::before {
    content: "";
    display: block;
    height: 3px;
    width: 0%;
    background-color: #61DAFB;
    position: absolute;
    transition: all ease-in-out 250ms;
    margin: 0 0 0 10%;
}
.nav-links li a:hover::before{
    width: 80%;
} */


.login-button{
    color: #fff;
    background-color: #b40404;
    border: 2px solid #fff;
    border-radius: 1rem;
    padding: 0.6rem 0.8rem;
    margin: 0 1rem;
    font-size: 1rem;
    cursor: pointer;

}
.login-button:hover {
    color: #000;
    background-color: #b40404cc;
    border:2px solid #000;
    transition: all ease-in-out 350ms;
}
.join-button{
    color: #fff;
    background-color: #b40404;
    border: 2px solid #fff;
    border-radius: 1rem;
    padding: 0.6rem 0.8rem;
    font-size: 1rem;
    cursor: pointer;
}
.join-button:hover {
    color: #000;
    background-color: #b40404cc;
    border:2px solid #000;
    transition: all ease-in-out 350ms;
}


.hamburger div{
    width: 30px;
    height:3px;
    background: #000;
    margin: 5px;
    transition: all 0.3s ease;
}
.hamburger{
    display: none;
}

@media screen and (max-width: 800px){
    html{
        font-size: 72.5%;
    }
    nav{
        /* position: fixed; */
        z-index: 3;
        scroll-behavior: smooth;
    }
    .hamburger{
        display:block;
        position: absolute;
        cursor: pointer;
        right: 5%;
        top: 50%;
        transform: translate(-5%, -50%);
        z-index: 2;
        transition: all 0.7s ease;
    }
    .nav-links{
        position: fixed;
        text-align: center;
        background: #fff;
        height: 100vh;
        width: 100%;
        flex-direction: column;
        clip-path: circle(50px at 90% -20%);
        -webkit-clip-path: circle(50px at 90% -10%);
        transition: all 1s ease-out;
        pointer-events: none;
    }
    .nav-links.open{
        clip-path: circle(1000px at 90% -10%);
        -webkit-clip-path: circle(1000px at 90% -10%);
        pointer-events: all;
    }
    .nav-links li{
        opacity: 0;
    }
    .nav-links li:nth-child(1){
        transition: all 0.5s ease 0.2s;
    }
    .nav-links li:nth-child(2){
        transition: all 0.5s ease 0.4s;
    }
    .nav-links li:nth-child(3){
        transition: all 0.5s ease 0.6s;
    }
    .nav-links li:nth-child(4){
        transition: all 0.5s ease 0.7s;
    }
    .nav-links li:nth-child(5){
        transition: all 0.5s ease 0.8s;
    }
    .nav-links li:nth-child(6){
        transition: all 0.5s ease 0.9s;
        margin: 0;
    }
    .nav-links li:nth-child(7){
        transition: all 0.5s ease 1s;
        margin: 0;
    }
    li.fade{
        opacity: 1;
    }
    .title-text{
        font-size: 0.9rem;
    }
    
    
}


.toggle .line1{
    transform: rotate(-45deg) translate(-5px,6px);
}
.toggle .line2{
    transition: all 0.7s ease;
    width:0;
}
.toggle .line3{
    transform: rotate(45deg) translate(-5px,-6px);
}

.container{
    position: relative;
    top: 2rem;
    /* border: 2px solid red; */
    /* background-color: #b40404; */
    padding: 5%;
    backdrop-filter: blur(8px);
    margin-bottom: 2rem;
}

.welcome-title{
    margin-bottom: 1.5rem;
    text-decoration: underline;
}

.welcome-para{
    word-wrap: break-word;
    color: #b40404;
    font-weight: 700;
   
}
p:not(:nth-last-child()){
    margin-bottom: 2rem;
}


.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    word-wrap: break-word;
 }
 
 .footer a {
    color: #ffffff;
    text-decoration: none;
    padding: 0 10px;
 }
 
 .footer a:hover {
    color: #b40404 ;
    text-decoration: underline;
    font-weight: 800;
 }
 .copyright{
     margin-top: 2px;
     color: #fff;
 }
 @media (max-width: 600px) {
   .footer a {
     /* display: block; */
     padding: 10px 0;
   }
 }